* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    height: 695px;
}

.main {
    width: 100%;
    height: 100%;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all {
    width: 25%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.211);
    backdrop-filter: blur(9px);
    border-radius: 5px;
    align-content: center;
}

.all .all-search {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.all-search #input {
    color: white;
    width: 70%;
    height: 30px;
    border: none;
    background-color: transparent;
    outline: none;
    text-transform: lowercase;
}

input::placeholder {
    color: black;
    text-transform: lowercase;
}
.all-output{
    width: 100%;
    padding: 0 20px;
    font-size: 25px;
}
.image-sec{
    width: 100%;
    height: 150px;
    display: block;
}
.image-sec img{
    width: 140px;
    justify-self: center;
}
.all-output-two{
    width: 100%;
    padding: 0 20px;
    font-size: 25px;
}
#condition{
    margin-bottom: 20px;
}
#temp{
    margin-bottom: 20px;
}
